<h1>Superheroes</h1>

<div ng-app="app">
  <div ng-controller="superheroesCtrl">
    <h3>{{message}}</h3>
    <input type="text" ng-model="superName" placeholder="Type superhero here">
    <button type="text" name="button" ng-click="Uppercase">

      <input type="text" placeholder="Superhero Name" ng-model="superheroName">
      <input type="text" placeholder="Superpower" ng-model="superheroPower">
      <button type="button" ng-click="addSuperhero()">Add Superhero</button>
      <table style="width:100%">
      <tr>
        <th ng-click="toggleOrder('superhero_name')">Superhero Name</th>
        <th ng-click="toggleOrder('superhero_power')">Super Power</th>
      </tr>
      <tr ng-repeat="superhero in superheroes | filter: {superhero_name: superName} | orderBy:orderAttribute:isReverse">
        <td>{{superhero.superhero_name}}</td>
        <td>{{superhero.superhero_power}}</td><br/>
      </tr>
    </table>
    </div>
  </div>
