<div ng-app="app">
  <div ng-controller="superheroesCtrl">

<div class="jumbotron" style="background-color: indianred">
  <body bgcolor="#E6E6FA">
  <h1 align="center">League of Superheroes</h1>
  <p align="center">User Ability to filter through list of battle ready Vigilantes all sworn to uphold justice in the Universe using Ruby on the back end and JavaScript/Angular on the front end!</p>
    <p align="center">Feel free to add another Superhero to the elite list of Justice Warriors!</p>
</div>

    <div align="center">
      <input type="text" ng-model="superName" placeholder="Type to Filter">

    </div>
    <br>
    <div align="center">
      <input type="text" class="form-check-input" placeholder="Superhero Name" ng-model="superheroName">
      <input type="text" class="form-check-input" placeholder="Superpower" ng-model="superheroPower">
      <button type="button" ng-click="addSuperhero()">Add Superhero</button>
    </div>
      <table style="width:100%">
      <tr>
        <th align="center">
          <div align="center">
            <button type="button" data-toggle="tooltip" data-placement="bottom" title="Toggle Alphabetical Order" data-original-title="Toggle Alphabetical Order" aria-describedby="tooltip637147" ng-click="toggleOrder('superhero_name')">Superhero Name Toggle</button>
          </div>
          <br>
      </th>
      <th align="center">
          <div align="center">
            <button type="button" data-toggle="tooltip" data-placement="bottom" title="Toggle Alphabetical Order" data-original-title="Toggle Alphabetical Order" aria-describedby="tooltip637147" align="center" ng-click="toggleOrder('superhero_power')">Super Power Toggle</button>
          </div>
          <br>
      </th>
      </tr>
      <tr style="background-color: indianred" class="well" ng-repeat="superhero in superheroes | filter: {superhero_name: superName} | orderBy:orderAttribute:isReverse">
        <a ng-href="/superheroes/{{superhero.id}}">
          <td align="center">{{superhero.superhero_name}}</td>
          <td align="center">{{superhero.superhero_power}}</td><br/>
        </a>
      </tr>
    </table>
    </div>
  </div>
